<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup Yunlib</title>
</head>
<body>
    {% from "_field.html" import render_field %} 
    <form action="/signup" method="post" accept-charset="utf-8">
        {{ render_field(form.username)  }}
        {{ render_field(form.password)  }}
        {{ render_field(form.confirmpw) }}
        <p>
            <input type="submit" value="Sign up">
        </p>
     </form> 
</body>
</html>
